<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Materias</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Materias</li>
              <li class="breadcrumb-item active">Agregar Materia</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"> <i class="fas fa-book"></i> Agregar Materia</h3>
                <div class="p-2 bd-highlight">
                  <router-link to="/materias" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="agregar">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre de la Materia" v-model="materia.nombre">
                  </div>                 
                  <div class="form-group">
                    <label for="role">Calificacion minima aprobatoria</label>                    
                    <input type="number" min="6" max="10" class="form-control" v-model="materia.calificacion">
                  </div>
                  <div class="form-group">
                    <label class="typo__label">Carreras</label>
                    <multiselect v-model="value" :options="carreras" :multiple="true" :close-on-select="false" :clear-on-select="false" placeholder="Seleciona las carrears" label="nombre" track-by="nombre">
                      <!-- <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template> -->
                    </multiselect>
                  </div>
                  <div class="form-group">
                    <label for="grado">Grado</label>
                    <select name="grado" v-model="materia.grado" class="form-control">
                        <option value="">--grado--</option>
                        <option value="Primero">Primero</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Tercero">Tercero</option>
                        <option value="Cuarto">Cuarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                    </select>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import multiselect from 'vue-multiselect';
export default {
 name:'Crear',
 components: {
   multiselect
 },
 data(){
   return{
    materia:{
      nombre:'',      
      grado:'',
      calificacion:'',
      carreras_id:[]
    },
    value:{nombre:'--selecionar--', id:0},
    carreras:[],
   }
 },
 mounted(){
   this.getCarreras();
 }
 ,
 methods:{
   async getCarreras(){
     await this.axios.get('/api/carreraActiva')
     .then(res => {
       this.carreras  = res.data;
     }).catch(err => {
       console.log('error');
     });
   },     
   async agregar(){
     this.value.forEach(element => {
       if(element.id != 0){
         this.materia.carreras_id.push(element.id);
       }
     });
     await this.axios.post('/api/materia',this.materia)
     .then(res => {
       console.log(res.data);
       this.$router.push('/materias')
     }).catch(err => {
       console.log('error');
     });
   },
  //  nameWithLang ({ name, language }) {
  //     return `${name} — [${language}]`
  //   }
 }
}
</script>