<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Materias</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Materias</li>
              <li class="breadcrumb-item active">Editar Materia</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"> <i class="fas fa-book"></i> Editando {{ materia.nombre }}</h3>
                <div class="p-2 bd-highlight">
                  <router-link to="/materias" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="editar">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre del Usuario" id="name" v-model="materia.nombre">
                  </div>
                  <div class="form-group">
                    <label for="grado">Calificacion minima </label>
                    <input type="number" class="form-control" min="6" max="10" v-model="materia.calificacion">
                  </div>                  
                   <div class="form-group">
                    <label for="grado">Grado</label>
                    <select name="grado" id="role" v-model="materia.grado" class="form-control">
                        <option value="">--grado--</option>
                        <option value="Primero">Primero</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Tercero">Tercero</option>
                        <option value="Cuarto">Cuarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                    </select>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name:'Editar',
  data(){
    return{
      materia:{
        nombre:'',
        grado:'',
        calificacion:''
      }
    }
  },
  mounted(){
    this.getMateria();
  },
  methods:{
    async getMateria(){
      await this.axios.get(`/api/materia/${this.$route.params.id}`)
      .then(res => {
        this.materia = res.data
      }).catch(err =>{

      });
    },
    async editar(){
      await this.axios.put(`/api/materia/${this.$route.params.id}`,this.materia)
      .then(res => {
        console.log(res.data);
        this.$router.push('/materias')
      }).catch(err => {

      });
    }
  }
}
</script>