<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Carreas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Carreas</li>
              <li class="breadcrumb-item active">Agregar Carrera</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"> <i class="fas fa-book"></i> Agregar Carrera</h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{name:'carreras'}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="agregar">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre de la carrera" id="name" v-model="carrera.nombre">
                  </div>                 
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
 name:'Crear',
 data(){
   return{
    carrera:{
      nombre:'',
    },
   }
 },
 methods:{

   async agregar(){     
     await this.axios.post('/api/carrera',this.carrera)
     .then(res => {
       console.log(res.data);
       this.$router.push('/carreras')
     }).catch(err => {
       console.log('error');
     });
   },
 }
}
</script>