<template>
   <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Alumnos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Alumnos</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card">
              <div class="card-header ui-srotable-handle card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight">
                  <i class="fas fa-user-graduate"></i>
                  Alumnos en sistema
                </h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{ name:'agregarAlumno' }" class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar alumno</router-link>
                </div>
              </div>
              <div class="card-body">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-border">
                      <thead>
                        <tr>
                          <th>Matricula</th>
                          <th>Nombre</th>
                          <th>Grado</th>
                          <th>Carrera</th>
                          <th>Correo</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for ="alumno in  alumnos" :key="alumno.id">                          
                          <td>{{ alumno.matricula }}</td>
                          <td>{{ alumno.nombres }} {{ alumno.apellidos }}</td>
                          <td>{{ alumno.grado }}</td>
                          <td>{{ alumno.carrera.nombre }}</td>
                          <td>{{ alumno.user.email }}</td>
                          <td> 
                            <router-link :to="{name:'editarAlumno', params:{id:alumno.id}}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></router-link>
                            <button v-if="alumno.status == 1" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-danger" @click="id = alumno.id"><i class="fas fa-trash"></i></button>
                            <router-link :to="{name:'calificarAlumno', params:{id:alumno.id}}" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Agregar Calificaciones</router-link>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>      
    </section>
     <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">¿Estas segur?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Se dara de baja al alumno</h3>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
              <!-- <button type="button" class="btn btn-outline-light" @click="eliminar">Acptar</button> -->
            </div>
          </div>
        </div>
    </div>

  </div>
  
</template>
<script>
export default {
  name:'Alumnos',
  data(){
    return{
      alumnos:[],
      id:'',
      access:false
    }
  },
  mounted(){ 
          if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          this.access = true;                
        }).catch(err => {
          this.access = false;
          this.$store.commit('clearToken');
          this.$router.push('/');
        });
      }else{
         this.$store.commit('clearToken');
         this.$router.push('/');
      }
    this.getAlumnos();
  },
  methods: {
    async getAlumnos(){
      await this.axios.get('/api/alumno')
      .then(res => {
        this.alumnos = res.data
        console.log(this.alumnos);
      }).catch(err =>{
        // this.users = [];
      });
    }
  },
}
</script>