<template>
  <div class="wrapper">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: "App",  
  // data(){
  //   return{
  //     user:{},
  //     access: false,      
  //   }
  // },
  // mounted(){
  //   //  
  //     if(this.$store.state.token !== ''){
  //       this.axios.post('/api/auth/checkToken', {token: this.$store.state.token})
  //       .then(res => {
  //         this.access = true       
  //       }).catch(err => {
  //         this.access = false;
  //         this.$store.commit('clearToken');
  //         // this.$router.push('/');
  //       });
  //     }else{
  //        this.$store.commit('clearToken');
  //       //  this.$router.push('/');
  //     }
  // },  
};
</script>
