<template>
   <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Carreas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Carreras</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card">
              <div class="card-header ui-srotable-handle card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight">
                  <i class="fas fa-book"></i>
                  Carreras en sistema
                </h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{ name:'agregarCarrera' }" class="btn btn-success"><i class="fas fa-plus-circle"></i></router-link>
                </div>
              </div>
              <div class="card-body">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-border text-center">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for ="carrera in  carreras" :key="carrera.id">
                          <td>{{ carrera.nombre }}</td>
                          <td> 
                            <button class="btn btn-outline-warning" @click="carreraD = carrera" data-toggle="modal" data-target="#modal-default"><i class="fas fa-edit"></i></button>
                            <button v-if="carrera.estatus == 0" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-danger" @click="id = carrera.id"><i class="fas fa-trash"></i></button>
                            <button v-if="carrera.estatus == 1" type="button" class="btn btn-outline-success" @click.prevent="activar(carrera.id)"> <i class="fas fa-check-square"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>      
    </section>
    
    <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Dar de baja Carrera</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>¿Esta seguro?</h3>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-outline-light" @click="eliminar">Acptar</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Editando {{carreraD.nombre}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Nombre de la carrera" id="name" v-model="carreraD.nombre">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click.prevent="editar"> <i class="fas fa-save"></i> Guardar Cambios</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      
  </div>
</template>
<script>
export default {
  name:'Carreras',
  data(){
    return{
      carreras:[],
      id:'',
      carreraD:{
        nombre:''
      }
    }
  },
  mounted(){ 
          if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          this.access = true;                
        }).catch(err => {
          this.access = false;
          this.$store.commit('clearToken');
          this.$router.push('/');
        });
      }else{
         this.$store.commit('clearToken');
         this.$router.push('/');
      }
    this.getCarreras();
  },
  methods: {
    async getCarreras(){
      await this.axios.get('/api/carrera')
      .then(res => {
        console.log('carreras', res.data);
        this.carreras = res.data
      }).catch(err =>{
        console.log('error');
      });
    },
    eliminar(){
    this.axios.delete(`/api/carrera/${this.id}`)
     .then(res => {
        location.reload()
     }).catch(err => {

     });
    },
    async activar(id){
    await this.axios.delete(`/api/carrera/${id}`)
    .then(res => {
        location.reload()
     }).catch(err => {

     });
    },
    async editar(){
      await this.axios.put(`/api/carrera/${this.carreraD.id}`, this.carreraD)
      .then(res => {
        location.reload();
      }).catch(err => {
        console.log('error')
      });
    }
  },
}
</script>