<template>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Inicio</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card">
              <div class="card-header ui-srotable-handle">
                <h3 class="card-title">
                  <i class="fas fa-laptop"></i>
                  Bienvenidos al sistema
                </h3>
              </div>
              <div class="card-body">
                <img src="/img/logo_cesba.png" alt="">
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name:'Dashboard',
  data(){
    return{
      access:''
    }
  },
  mounted(){
    this.session()
  },
  methods:{
    logout(){
      this.$store.commit('clearToken');
      this.$router.push({name:'login'})
    },
     async session(){
      if(this.$store.state.token !== ''){
        await this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          if(res.data.success == true){
            this.usuario = this.$store.state.user;
            console.log(this.$store.state.user);
          }
        }).catch(err => {
          this.usuario = null;
        });
      }else{
        this.$router.push({name:'login'});
      }
    }
  }
}
</script>

<style scoped>
img {
    vertical-align: middle;
    border-style: none;
    width: 75%;
}
</style>