<template>
  <div>
     <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <router-link to="/home"  class="nav-link">Home</router-link>
        </li>        
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn nav-link" @click="logout">
            <i class="fas fa-sign-out-alt"></i>
            Cerrar sesion
          </button>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">CESBA</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/img/avatar.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <router-link :to="{name:'miCuenta'}" class="d-block">{{usuario.name}}</router-link>
          </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item" v-if="usuario.role_id == 1 || usuario.role_id == 2">
              <a href="#" class="nav-link">
                <i class="fas fa-school"></i>
                <p>
                  Administracion Escolar
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{name:'carreras'}" class="nav-link active">
                    <i class="fas fa-graduation-cap"></i>
                    <p>Carreras</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name:'materias' }" class="nav-link">
                  <i class="fas fa-book"></i>
                    <p>Materias</p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item" v-if="usuario.role_id == 1">
              <router-link :to="{ name: 'usuarios' }" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Usuarios
                </p>
              </router-link>
            </li>
              <li class="nav-item" v-if="usuario.role_id == 1 || usuario.role_id == 2">
              <router-link :to="{ name:'alumnos' }" class="nav-link">
                <i class="fas fa-user-graduate"></i>
                <p>Alumnos</p>
              </router-link>
            </li>
             <li class="nav-item" v-if=" usuario.role_id == 3 ">
              <router-link :to="{ name:'misMaterias' }" class="nav-link">
                <i class="fas fa-user-graduate"></i>
                <p>Mis materias</p>
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
      
    </aside>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name:'Home',
  data(){
    return {
      usuario : {
        email: '',
        id: '',
        name: '',
        role_id: '',
      }
    }
  },
  mounted() {
    this.session()
  },
   methods:{
    logout(){
      this.$store.commit('clearToken');
      this.$router.push({name:'login'})
    },
    async session(){
      if(this.$store.state.token !== ''){
        await this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          if(res.data.success == true){
            this.usuario = this.$store.state.user;
            console.log(this.$store.state.user);
          }
        }).catch(err => {
          this.usuario = null;
        });
      }else{
        this.$router.push({name:'login'});
      }
    }
  }
}
</script>