<template> 
  <div class="login" v-if="!access">
    <div class="container">
      <div class="login-logo">
        <a href="#"><b>CESBA</b></a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <div class="alert alert-danger" role="alert" v-if="mensaje != ''">
            {{ mensaje }}
          </div>
          <form class="px-4 py-3">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" v-model="credentials.email" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" v-model="credentials.password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fas fa-key"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <button class="btn btn-primary btn-lg" @click.prevent="login">Acceder</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "Login",
  data(){
    return {
      credentials:{
        email: '',
        password: ''
      },
      mensaje:'',
      access: false
    }
  },
  mounted(){
     if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          if(res.data.success == true){
            this.access = true;
            this.$router.push({name:'inicio'});
          }
        }).catch(err => {
          this.usuario = null;
        });
     }
  },
  methods: {
    login(){
      this.axios.post('/api/auth/login', this.credentials)
      .then(res => {              
          if(res.data.status){
              this.$store.commit('setToken', res.data.access_token);
              this.$store.commit('setUser', res.data.user);
              this.mensaje = ''
              this.$router.push({name:'inicio'});
          }else{
            this.mensaje = res.data.error
          }
      }).catch(err => {
          console.log('Error', err);
      })
    }
  }
};
</script>
<style scoped>
  
  .container{ 
    margin-top: 10%;
  }
  .card{
    width: 49% !important;
    margin-left: 26%;
  }
  .input-group {
    position: relative !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.login-card-body, .register-card-body {
    background-color: #fff;
    border-top: 0;
    color: #666;
    padding: 30px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 50% !important;
    margin-bottom: 0;
}
.login-logo, .register-logo {
    font-size: 6.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}

svg:not(:root) {
    overflow: hidden;
}
.svg-inline--fa {
    display: inline-block;
    font-size: x-large;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
</style>