<template>
   <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Materias</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Materias</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card">
              <div class="card-header ui-srotable-handle card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight">
                  <i class="fas fa-book"></i>
                  Materias en sistema
                </h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{ name:'agregarMateria' }" class="btn btn-success"><i class="fas fa-plus-circle"></i></router-link>
                </div>
              </div>
              <div class="card-body">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-border text-center" id="materiasTable">
                      <thead>
                        <tr>
                          <th>Codigo</th>
                          <th>Nombre</th>
                          <th>Grado</th>
                          <th>Calificacion minima aprovatoria</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for ="materia in  materias" :key="materia.id">
                          <td>{{ materia.codigo }}</td>
                          <td>{{ materia.nombre }}</td>
                          <td>{{ materia.grado }}</td>
                          <td>{{ materia.calificacion }}</td>
                          <td> <router-link :to="{name:'editarMateria', params:{id:materia.id}}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></router-link></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>      
    </section>
  </div>
</template>
<script>
export default {
  name:'Materias',
  data(){
    return{
      materias:[]
    }
  },
  mounted(){ 
          if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          this.access = true;                
        }).catch(err => {
          this.access = false;
          this.$store.commit('clearToken');
          this.$router.push('/');
        });
      }else{
         this.$store.commit('clearToken');
         this.$router.push('/');
      }
    this.getMaterias();
  },
  methods: {
    async getMaterias(){
      await this.axios.get('/api/materia')
      .then(res => {
        this.materias = res.data
        console.log(this.materias);
      }).catch(err =>{
        console.log('error');
      });
    }
  },
}
</script>