<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Mis datos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Mi cuenta</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">                
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"><i class="fas fa-address-card"></i> Mi Cuenta</h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{name:'inicio'}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="editar">
                <div class="card-body">
                  <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" placeholder="Nombres del alumno" id="name" v-model="user.name" disabled>
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Correo</label>
                    <input type="text" class="form-control" placeholder="apellidos del alumno" id="name" v-model="user.email" disabled>
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Cambiar contraseña</label>
                    <input type="password" class="form-control" placeholder="apellidos del alumno" id="name" v-model="password"> 
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
 name:'Crear',
 data(){
   return{
        user:{            
            name: '',
            email: '',
        },
        password:''
   }
 },
 mounted(){   
         if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          this.user = this.$store.state.user
        }).catch(err => {
          this.access = false;
          this.$store.commit('clearToken');
          this.$router.push('/');
        });
      }else{
         this.$store.commit('clearToken');
         this.$router.push('/');
      }
 },
 methods:{      
   async editar(){     
     await this.axios.put(`/api/alumno/${this.$route.params.id}`,this.alumno)
     .then(res => {       
         console.log('res', res.data);
        location.reload();
     }).catch(err => {
       console.log('error');
     });
   },
 }
}
</script>