<template>
   <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Usuarios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Usuarios</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card">
              <div class="card-header ui-srotable-handle card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight">
                  <i class="fas fa-users"></i>
                  Usuarios en sistema
                </h3>
                <div class="p-2 bd-highlight">
                  <router-link :to="{ name:'agregarUsuario' }" class="btn btn-success"><i class="fas fa-plus-circle"></i></router-link>
                </div>
              </div>
              <div class="card-body">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-border">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Correo</th>
                          <th>Rol</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for ="user in  users" :key="user.id">
                          <td>{{ user.name }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.role.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>      
    </section>
  </div>
</template>
<script>
export default {
  name:'Usuarios',
  data(){
    return{
      users:[],
      access:''
    }
  },
  mounted(){ 
     if(this.$store.state.token !== ''){
        this.axios.get('/api/auth/checkToken', {token: this.$store.state.token})
        .then(res => {
          this.user = this.$store.state.user
        }).catch(err => {
          this.access = false;
          this.$store.commit('clearToken');
          this.$router.push('/');
        });
      }else{
         this.$store.commit('clearToken');
         this.$router.push('/');
      }
    this.getUsers();
  },
  methods: {
    async getUsers(){
      await this.axios.get('/api/users')
      .then(res => {
        this.users = res.data
        console.log(this.users);
      }).catch(err =>{
        // this.users = [];
      });
    }
  },
}
</script>