<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Usuarios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Usuarios</li>
              <li class="breadcrumb-item active">Agregar Usuario</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"><i class="fas fa-users"></i> Agregar Usuario</h3>
                <div class="p-2 bd-highlight">
                  <router-link to="/usuarios" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="agregar">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre del Usuario" id="name" v-model="user.name">
                  </div>
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" placeholder="Nombre del Usuario" id="email" v-model="user.email">
                  </div>
                  <div class="form-group">
                    <label for="role">Privilegios</label>                    
                    <select name="role" id="role" v-model="roleSelec" class="form-control">
                      <option v-for="role in roles" :value="role">{{role.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
 name:'Crear',
 data(){
   return{
    roles: [],
    roleSelec :'',
    user:{
      name:'',
      email:'',
      role_id:''
    }
   }
 },
 mounted(){
   this.getRoles()
 },
 methods:{   
   getRoles(){
    this.axios.get('/api/roles')
    .then(res =>{
      console.log(res.data);
        this.roles = res.data;
    }).catch(err=>{
      console.log('error');
    })
   },
   async agregar(){
     this.user.role_id = this.roleSelec.id;
     await this.axios.post('/api/user',this.user)
     .then(res => {       
       this.$router.push('/usuarios')
     }).catch(err => {
       console.log('error');
     });
   }
 }
}
</script>