<template>
     <div class="content-wrapper">
         <section class="Content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-5">
                            <div class="card-header d-flex bd-highlight">
                                <h3 class="card-title p-2 flex-grow-1 bd-highlight">Calificar Alumnos</h3>          
                                <div class="p-2 bd-highlight">
                                <router-link :to="{name:'alumnos'}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                                </div>
                            </div>                    
                            <div class="card-body">                    
                                <div class="col-12">                                                      
                                    <div class="table-responsive" >
                                        <table class="table table-border">
                                            <thead>
                                                <tr>
                                                    <th>Materia</th>
                                                    <th>Calificacion minima para aprobar</th>
                                                    <th>Calificacion Final</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">  
                                                <tr v-for="materia in materias" :key="materia.id">
                                                    <td>{{ materia.nombre }}</td>
                                                    <td>{{ materia.calificacion }}</td>
                                                    <td>
                                                        <div v-if="materia.alumnos[0].pivot.calificacion_final == null">
                                                            <p> Sin Calificacion</p>
                                                        </div>
                                                        <div v-else>
                                                            {{materia.alumnos[0].pivot.calificacion_final}}
                                                        </div>                                                
                                                    </td>  
                                                    <td>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-default" @click="calificacion.calificacion_final = materia.alumnos[0].pivot.calificacion_final, calificacion.kardex_id = materia.alumnos[0].pivot.id" >calificar</button>
                                                    </td>                                          
                                                </tr>                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Descargar</button>
                            </div>                    -->
                        </div>
                    </div>
                </div>
            </div>
         </section>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Calificacion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                        
                        <input type="number" v-model="calificacion.calificacion_final" class="form-control" placeholder="Calificacion Final" min="0" max="10">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click.prevent="calificar()"> <i class="fas fa-save"></i> Guardar Cambios</button>
                    </div>
                </div>            
            </div>        
        </div>
     </div>
</template>
<script>
export default {
    data(){
        return{
            materias:[],
            calificacion:{
                calificacion_final:'',
                kardex_id:''
            }            
        }
    },
    mounted(){
        this.getMaterias()
        // console.log(this.materias)
    },
    methods:{
        getMaterias(){
            this.axios.get(`/api/materias/calificar/${this.$route.params.id}`)
            .then(res => {
                this.materias = res.data;
                console.log(this.materias[0].alumnos[0].pivot.calificacion_final);
            }).catch(err =>{
                console.log('error');
            });
        },
        calificar(){
            this.axios.post('/api/materias/calificar',this.calificacion)
            .then(res => {
                if(res.data.status){                    
                    location.reload()
                }                
            }).catch(err =>{
                console.log('err');
            })
        }
        
    }    
}
</script>