<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administrar Alumnos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Usuarios</li>
              <li class="breadcrumb-item active">Agregar Alumno</li>            
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex bd-highlight">
                <h3 class="card-title p-2 flex-grow-1 bd-highlight"><i class="fas fa-user-graduate"></i> Agregar Alumno</h3>          
                <div class="p-2 bd-highlight">
                  <router-link :to="{name:'alumnos'}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                </div>
              </div>
              <form @submit.prevent="agregar">            
                <div class="card-body">
                  <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" placeholder="Nombres del alumno" id="name" v-model="alumno.nombres">
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" placeholder="apellidos del alumno" id="name" v-model="alumno.apellidos">
                  </div>
                  <div class="form-group">
                    <label for="carrera">Carrera</label>
                     <select name="carrera" id="carrera" v-model="alumno.carrera_id" class="form-control">
                      <option value="">--Carrera--</option>
                      <option v-for="carrera in carreras" :value="carrera.id">{{carrera.nombre}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="grado">Grado</label>                    
                    <select name="grado" id="grado" v-model="alumno.grado" class="form-control">
                        <option value="">--grado--</option>
                        <option value="Primero">Primero</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Tercero">Tercero</option>
                        <option value="Cuarto">Cuarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                    </select>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
 name:'Crear',
 data(){
   return{
  alumno:{            
    nombres: '',
    apellidos: '',
    grado: '',
    carrera_id: ''
  },
  carreras:[],
   }
 },
 mounted(){
   this.getCarreras();
 },
 methods:{   
   async getCarreras(){
     await this.axios.get('/api/carreraActiva')
     .then(res => {
       this.carreras  = res.data;
     }).catch(err => {
       console.log('error');
     });
   },   
   async agregar(){     
     await this.axios.post('/api/alumno',this.alumno)
     .then(res => {       
         console.log('res', res.data);
        this.$router.push('/alumnos')
     }).catch(err => {
       console.log('error');
     });
   },
   async getAlumno(){
     await this.axios.get(`/api/alumno/${this.$route.params.id}`)
     .then(res => {
       this.alumno = res.data;
       this.params = true;
     }).catch(err => {
       console.log('error');
     });
   }
 }
}
</script>