<template>
     <div class="content-wrapper">
         <section class="Content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header d-flex bd-highlight">
                        <h3 class="card-title p-2 flex-grow-1 bd-highlight">Mis materias</h3>          
                        <div class="p-2 bd-highlight">
                        <router-link :to="{name:'inicio'}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Regresar</router-link>                  
                        </div>
                    </div>                    
                    <div class="card-body" id="body">                    
                         <div class="col-12">
                            <div class="table-responsive" >
                                <table class="table table-bordered text-cente" id="kardex">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Materia</th>
                                            <th>Calificaccion</th>
                                            <th>Estatus</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>  
                                        <tr v-for="materia in materias" :key="materia.id">
                                            <td class="table-success">{{ materia.nombre }}</td>
                                            <td class="table-success">
                                                <div v-if="materia.alumnos[0].pivot.calificacion_final == null">
                                                    <b>Sin Calificar</b>
                                                </div>
                                                <div v-else><b>{{materia.alumnos[0].pivot.calificacion_final}}</b></div>
                                            </td>
                                            <td class="table-success">
                                                <div v-if="materia.calificacion > materia.alumnos[0].pivot.calificacion_final">
                                                    <p><b class="text-danger">Reprobado</b></p>
                                                </div>
                                                <div v-if="materia.calificacion <= materia.alumnos[0].pivot.calificacion_final">
                                                    <p><b class="bg-aprobado">Aprobado</b></p>
                                                </div>
                                            </td>
                                        </tr>                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary" @click="descargarPDF"><i class="fas fa-save"></i> Descargar</button>
                    </div>                   
                    </div>
                </div>
                </div>
            </div>
         </section>
     </div>
</template>
<script>
import { jsPDF } from "jspdf";
import 'jspdf-autotable';
export default {
    data(){
        return{
            materias:[],            
        }
    },
    mounted(){
        this.getMaterias()
    },
    methods:{        
        getMaterias(){
            this.axios.get('/api/misMaterias')
            .then(res => {
                this.materias = res.data
            }).catch(err =>{
                console.log('error');
            });
        },
        descargarPDF(){           
            const doc = new jsPDF()
            doc.autoTable({ html: '#kardex' });
            doc.save(this.$store.state.user.name+'_kardex.pdf')
        }
    }    
}
</script>
<style>
    .bg-aprobado{
        color: rgb(3, 68, 7);
    }
</style>